{% extends 'base.html' %}

{% block content %}
<h1>Add New Patients</h1>

<form action="/add_patient" method="post">
    {{ pet_form.hidden_tag() }} 
    {{ pet_form.OwnerId.label }}
    {{ pet_form.OwnerId() }}
    {{ pet_form.petName.label }}
    {{ pet_form.petName() }}
    {{ pet_form.species.label }}
    {{ pet_form.species() }}
    {{ pet_form.age.label }}
    {{ pet_form.age() }}
    {{ pet_form.submit() }}
  </form>

  <h2>Existing Patients</h2>

  <table>
    <tr>
        <th>Pet ID</th>
        <th>Pet Name</th>
        <th>Species</th>
        <th>Age</th>
        <th>Owner</th>
        <th>Recent Notes</th>
    </tr>
    {% for pet in pets %}
        <tr>
            <td>{{pet[0]}}</td>
            <td>{{pet[1]}}</td>
            <td>{{pet[2]}}</td>
            <td>{{pet[3]}}</td>
            <td>{{pet[4]}}</td>
            <td>{{pet[5]}}</td>
        </tr>
    {% endfor %}
  </table>
    

   <p> {{message}} </p>

{% endblock %}