<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" 
    rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Vetinary Practice Booking System</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/search">Search by date</a>
            <a href="/booking">Book new appointments</a>
            <a href="/alter">Alter appointments</a>
            <a href="/cancel">Cancel appointments</a>
            <a href="/add_patient">Add new patient</a>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>