{% extends 'base.html' %} {% block content %}
<h1>Welcome to the Vetinary Practice Booking System</h1>

<h1>Today's Appointments</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Appointment Status</th>
        <th>Pet's Name</th>
        <th>Owner's Name</th>
        <th>Contact Number</th>
    </tr>
    {% for appointment in todays_appointments %}
    <tr>
        <td>{{appointment[0]}}</td>
        <td>{{appointment[1]}}</td>
        <td>{{appointment[2]}}</td>
        <td>{{appointment[3]}}</td>
        <td>{{appointment[4]}}</td>
        <td>{{appointment[5]}}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
